.App {
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(25px + 2vmin);
  color: #ffe6cc;
  padding-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #47476b;
  font-family: "Cantarell";
}

.App-sub-header {
  align-items: left;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-header-list {
   list-style-type: none;
}

.App-list-item-left{
  display: inline-block;
  padding-right: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding-left: 20px;
  cursor: pointer;
}

.App-list-item-right{
  display: inline-block;
  padding-left: 40px;
  margin-bottom: 20px;
  cursor: pointer;
}

.selected{
  font-weight: bold;
  color:#ffff1a;
}

.notSelected{
  color:#ffffcc;
}


.App-link {
  color: #61dafb;
}

.white {
  color: white;
}
